* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
   
}


.board {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 5em;


}


.display {
    height: 30vh;
    width: 50vh;
    background-color: darkslategray;
}

#ply_d {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: darkturquoise;
    align-content: center;
}

img {
    padding: 5px;
}

