* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
   
}


.board {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5em;
    padding-left: 10em;
    


}


.display {
    height: 30vh;
    width: 50vh;
    background-color: darkslategray;
}

#ply_d {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkturquoise;
    align-content: center;
}

#ad_d {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

img {
    padding: 5px;
}

p {
    display: flex;
    height: 800px;
    width: 400px;
    padding-top: 5em;
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}