* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    background-color: rgb(36, 44, 44);
   
}


.board {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    padding-left: 7em;
    color: goldenrod;
    height: auto;


}


.display {
    height: 30vh;
    width: 50vh;
    background-color: darkslategray;
}

#ply_d {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkturquoise;
    align-content: center;
}

#ad_d {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

img {
    padding: 5px;
}

p {
    display: flex;
    height: 800px;
    width: 500px;
    padding-top: 3em;
    padding-left: 3em;
    color: rgba(245, 245, 245, 0.822);
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'McLaren', cursive;
    font-size: 1.2em;

}

a{
    color: rgb(218, 165, 32);
}

#instructions{
    color: goldenrod;
    padding-top: 1em;
}



  #instructions:hover .dropdown-content {
    display: block;
    
    
  }

  .dropdown-content p {
    color: black;
    padding: 3px 5px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }